<div class="_navbar">
  <a href="<%= root_path %>">
    <%= image_tag("logo_pelada.png", alt: "Logo Placeholder") %>
  </a>
  <%= link_to "Criar conta", new_user_registration_path  %>
  <%= link_to "Login", user_session_path  %>
</div>


<!--<div class="navbar">
  <div class="left-item">
    <a href="<%= root_path %>">
      <%= image_tag("logo_pelada.png", alt: "Logo Placeholder") %>
    </a>
  </div>
  <div class="right-items">
    <%= link_to "Criar conta", new_user_registration_path %>
    <%= link_to "Login", user_session_path %>
  </div>
</div>
-->
